@model List<VidlyNet7.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "_Layout";
}
<h1>Movies</h1>

<a asp-controller="Movies" asp-action="Create" class="btn btn-primary text-white" >New Movie</a>


<table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>



<script>
    document.addEventListener('DOMContentLoaded', async () => {
    const response = await fetch('/api/movies');
    const movies = await response.json();
    var table = $('#movies').DataTable({
        data: movies,
        columns: [
            { data: "name",
            render: function (data, type, movie) {
                return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
            }
            },
            { data: 'genre.name', title: 'Genre' },
            {
                title: 'Delete',
                render: function (data, type, movie) {
                    return "<button class='btn btn-danger btn-sm js-delete' data-movie-id='" + movie.id + "'>Delete</button>";
                }
            }
        ]
    });

    $('#movies').on('click', '.js-delete', function () {
        const movieId = $(this).data('movie-id');
        const tr = $(this).closest('tr');
        
        if (confirm("Are you sure you want to delete this movie?")) { 
            fetch('/api/movies/' + movieId, {
                method: 'DELETE',
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error en la respuesta.');
                    }
                    table.row(tr).remove().draw(); // linea de Mosh para borrar hasta cuando buscas

                })
                .catch(error => {
                    console.error('Hubo un error.', error);
                });
        }
    });
});
</script>

