@model List<VidlyNet7.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "_Layout";
}
<h1>Movies</h1>

<a asp-controller="Movies" asp-action="Create" class="btn btn-primary text-white" >New Movie</a>


<table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>



<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const response = await fetch('/api/movies');
        const movies = await response.json();
        $('#movies').DataTable({
            data: movies,
            columns: [
                { data: 'name', title: 'Name' },
                { data: 'genre.name', title: 'Genre' }
            ]
        });
    });
</script>

