@model mox_mvc_crud.Models.Movie
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewBag.Title = "Random";
	Layout = "_Layout";
}

<h2>@Model.Name</h2>
