@model VidlyNet7.ViewModels.RandomMovieViewModel
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewBag.Title = "Random";
	Layout = "_Layout";
}
	<h2>@Model.Movie.Name</h2>

	@if(Model.Customers.Count == 0)
	{
	<h2>No customers yet</h2>
}else
{
	<ul>
	@foreach (var customer in Model.Customers)
	{
		<li>@customer.Name</li>
	}
	</ul>
}


