@model VidlyNet7.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}
<h1>@Model.Name</h1>

<ul>
    <li>Membership Type: @Model.MembershipTypeId</li>
    <li>Birthdate: @Model.Birthdate.ToString("d")</li>
</ul>



    