@model List<VidlyNet7.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "_Layout";
}
<h1>Customers</h1>

@if (Model.Count == 0)
{
    <h2>We don't have any customers yet.</h2>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customers</th>
                <th>Discount rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Customers" asp-action="Details" asp-route-id="@customer.Id">@customer.Name</a>
                    </td>
                    <td>@customer.MembershipType.DiscountRate</td>
                </tr>
            }
        </tbody>
    </table>
}

